<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colormap</key>
	<dict>
		<key>functions</key>
		<string>green</string>
		<key>uniforms</key>
		<string>orange</string>
		<key>math</key>
		<string>cyan</string>
		<key>storage</key>
		<string>red</string>
		<key>numbers</key>
		<string>purple</string>
		<key>keyword</key>
		<string>blue</string>
		<key>definedcolors</key>
		<string>yellow</string>
		<key>preprocessor</key>
		<string>brown</string>
		<key>comment</key>
		<string>darkgray</string>
		<key>string</key>
		<string>pink</string>
	</dict>
	<key>colors</key>
	<dict>
		<key>pink</key>
		<string>0xf07178</string>
		<key>red</key>
		<string>0xFF5370</string>
		<key>orange</key>
		<string>0xF78C6C</string>
		<key>yellow</key>
		<string>0xFFCB6B</string>
		<key>green</key>
		<string>0xC3E88D</string>
		<key>paleblue</key>
		<string>0xB2CCD6</string>
		<key>cyan</key>
		<string>0x89DDFF</string>
		<key>blue</key>
		<string>0x82AAFF</string>
		<key>purple</key>
		<string>0xC792EA</string>
		<key>violet</key>
		<string>0xBB80B3</string>
		<key>brown</key>
		<string>0xab7967</string>
		<key>white</key>
		<string>0xFFFFFF</string>
		<key>black</key>
		<string>0x000000</string>
		<key>lightgray</key>
		<string>0xDDDDDD</string>
		<key>darkgray</key>
		<string>0x666666</string>
	</dict>
	<key>functions</key>
	<array>
		<string>texture</string>
		<string>gl_FragCoord</string>
		<string>gl_FragColor</string>
		<string>rand</string>
		<string>box</string>
		<string>circle</string>
		<string>rotate</string>
		<string>snoise</string>
		<string>noise</string>
		<string>hsv2rgb</string>
	</array>
	<key>uniforms</key>
	<array>
		<string>time</string>
		<string>bands</string>
		<string>mouse</string>
		<string>ciWindowSize</string>
		<string>uRenderMap</string>
		<string>uAudioMap</string>
	</array>
	<key>math</key>
	<array>
		<string>radians</string>
		<string>degrees</string>
		<string>sin</string>
		<string>cos</string>
		<string>tan</string>
		<string>asin</string>
		<string>acos</string>
		<string>atan</string>
		<string>pow</string>
		<string>exp</string>
		<string>log</string>
		<string>exp2</string>
		<string>log2</string>
		<string>sqrt</string>
		<string>inversesqrt</string>
		<string>abs</string>
		<string>sign</string>
		<string>floor</string>
		<string>ceil</string>
		<string>fract</string>
		<string>mod</string>
		<string>min</string>
		<string>max</string>
		<string>clamp</string>
		<string>mix</string>
		<string>step</string>
		<string>smoothstep</string>
		<string>length</string>
		<string>distance</string>
		<string>dot</string>
		<string>cross</string>
		<string>normalize</string>
		<string>faceforward</string>
		<string>reflect</string>
		<string>refract</string>
	</array>
	<key>storage</key>
	<array>
		<string>int</string>
		<string>unsigned</string>
		<string>float</string>
		<string>double</string>
		<string>long</string>
		<string>char</string>
		<string>short</string>
		<string>signed</string>
		<string>mat2</string>
		<string>mat3</string>
		<string>mat4</string>
		<string>mat4x4</string>
		<string>vec2</string>
		<string>vec3</string>
		<string>vec4</string>
		<string>ivec2</string>
		<string>ivec3</string>
		<string>ivec4</string>
		<string>uvec2</string>
		<string>uvec3</string>
		<string>uvec4</string>
		<string>dvec2</string>
		<string>dvec3</string>
		<string>dvec4</string>
	</array>
	<key>keyword</key>
	<array>
		<string>discard</string>
		<string>sampler1D</string>
		<string>sampler2D</string>
		<string>sampler3D</string>
		<string>samplerCube</string>
		<string>isampler1D</string>
		<string>isampler2D</string>
		<string>isampler3D</string>
		<string>usampler1D</string>
		<string>usampler2D</string>
		<string>usampler3D</string>
		<string>if</string>
		<string>break</string>
		<string>case</string>
		<string>continue</string>
		<string>return</string>
		<string>default</string>
		<string>do</string>
		<string>sizeof</string>
		<string>static</string>
		<string>else</string>
		<string>struct</string>
		<string>switch</string>
		<string>for</string>
		<string>while</string>
		<string>enum</string>
		<string>void</string>
		<string>const</string>
		<string>uniform</string>
	</array>
</dict>
</plist>
