<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>definedcolors</key>
	<array>
		<string>black</string>
		<string>silver</string>
		<string>gray</string>
		<string>white</string>
		<string>maroon</string>
		<string>red</string>
		<string>purple</string>
		<string>fuchia</string>
		<string>green</string>
		<string>lime</string>
		<string>olive</string>
		<string>yellow</string>
		<string>navy</string>
		<string>blue</string>
		<string>teal</string>
		<string>aqua</string>
		<string>orange</string>
		<string>aliceBlue</string>
		<string>antiqueWhite</string>
		<string>aquaMarine</string>
		<string>azure</string>
		<string>beige</string>
		<string>bisque</string>
		<string>blanchedAlmond</string>
		<string>blueViolet</string>
		<string>brown</string>
		<string>burlyWood</string>
		<string>cadetBlue</string>
		<string>chartreuse</string>
		<string>chocolate</string>
		<string>coral</string>
		<string>cornflowerBlue</string>
		<string>cornsilk</string>
		<string>crimson</string>
		<string>cyan</string>
		<string>darkBlue</string>
		<string>darkCyan</string>
		<string>darkGoldenrod</string>
		<string>darkGray</string>
		<string>darkGreen</string>
		<string>darkKhaki</string>
		<string>darkMagenta</string>
		<string>darkOliveGreen</string>
		<string>darkOrange</string>
		<string>darkOrchid</string>
		<string>darkRed</string>
		<string>darkSalmon</string>
		<string>darkSeaGreen</string>
		<string>darkSlateBlue</string>
		<string>darkSlateGray</string>
		<string>darkTurquoise</string>
		<string>darkViolet</string>
		<string>deepPink</string>
		<string>deepSkyBlue</string>
		<string>dimGray</string>
		<string>dodgerBlue</string>
		<string>fireBrick</string>
		<string>floralWhite</string>
		<string>forestGreen</string>
		<string>gainsboro</string>
		<string>ghostWhite</string>
		<string>gold</string>
		<string>goldenrod</string>
		<string>greenYellow</string>
		<string>gray</string>
		<string>honeydew</string>
		<string>hotPink</string>
		<string>indianRed</string>
		<string>indigo</string>
		<string>ivory</string>
		<string>khaki</string>
		<string>lavender</string>
		<string>lavenderBlush</string>
		<string>lawnGreen</string>
		<string>lemonChiffon</string>
		<string>lightBlue</string>
		<string>lightCoral</string>
		<string>lightCyan</string>
		<string>lightGoldenrod</string>
		<string>lightGray</string>
		<string>lightGreen</string>
		<string>lightPink</string>
		<string>lightSalmon</string>
		<string>lightSeaGreen</string>
		<string>lightSkyBlue</string>
		<string>lightSlateGray</string>
		<string>lightSteelBlue</string>
		<string>lightYellow</string>
		<string>limeGreen</string>
		<string>linen</string>
		<string>magenta</string>
		<string>mediumAquaMarine</string>
		<string>mediumBlue</string>
		<string>mediumOrchid</string>
		<string>mediumPurple</string>
		<string>mediumSeaGreen</string>
		<string>mediumSlateBlue</string>
		<string>mediumSpringGreen</string>
		<string>mediumTurquoise</string>
		<string>mediumVioletRed</string>
		<string>midnightBlue</string>
		<string>mintCream</string>
		<string>mistyRose</string>
		<string>moccain</string>
		<string>navajoWhite</string>
		<string>oldLace</string>
		<string>oliveDrab</string>
		<string>orangeRed</string>
		<string>orchid</string>
		<string>paleGoldenrod</string>
		<string>paleGreen</string>
		<string>paleTurquoise</string>
		<string>paleVioletRed</string>
		<string>papayaWhip</string>
		<string>peachPuff</string>
		<string>peru</string>
		<string>pink</string>
		<string>plum</string>
		<string>powderBlue</string>
		<string>rosyBrown</string>
		<string>royalBlue</string>
		<string>saddleBrown</string>
		<string>salmon</string>
		<string>sandyBrown</string>
		<string>seaGreen</string>
		<string>seaShell</string>
		<string>sienna</string>
		<string>skyBlue</string>
		<string>slateBlue</string>
		<string>slateGray</string>
		<string>snow</string>
		<string>springGreen</string>
		<string>steelBlue</string>
		<string>tan</string>
		<string>thistle</string>
		<string>tomato</string>
		<string>turquoise</string>
		<string>violet</string>
		<string>wheat</string>
		<string>whiteSmoke</string>
		<string>yellowGreen</string>
	</array>
	<key>storage</key>
	<array>
		<string>vec2</string>
		<string>vec3</string>
		<string>vec4</string>
	</array>
	<key>comment</key>
	<string>--</string>
	<key>functions</key>
	<array>
		<string>image</string>
		<string>rect</string>
		<string>circle</string>
		<string>perlin</string>
		<string>invert</string>
		<string>greyscale</string>
		<string>vignette</string>
		<string>aberration</string>
		<string>scanline</string>
		<string>edges</string>
		<string>blur</string>
	</array>
	<key>operators</key>
	<string>+-=&lt;&gt;/*#^%~</string>
	<key>colormap</key>
	<dict>
		<key>functions</key>
		<string>green</string>
		<key>uniforms</key>
		<string>orange</string>
		<key>math</key>
		<string>cyan</string>
		<key>storage</key>
		<string>red</string>
		<key>numbers</key>
		<string>purple</string>
		<key>keyword</key>
		<string>blue</string>
		<key>definedcolors</key>
		<string>yellow</string>
		<key>preprocessor</key>
		<string>brown</string>
		<key>comment</key>
		<string>darkgray</string>
		<key>string</key>
		<string>pink</string>
	</dict>
	<key>colors</key>
	<dict>
		<key>pink</key>
		<string>0xf07178</string>
		<key>red</key>
		<string>0xFF5370</string>
		<key>orange</key>
		<string>0xF78C6C</string>
		<key>yellow</key>
		<string>0xFFCB6B</string>
		<key>green</key>
		<string>0xC3E88D</string>
		<key>paleblue</key>
		<string>0xB2CCD6</string>
		<key>cyan</key>
		<string>0x89DDFF</string>
		<key>blue</key>
		<string>0x82AAFF</string>
		<key>purple</key>
		<string>0xC792EA</string>
		<key>violet</key>
		<string>0xBB80B3</string>
		<key>brown</key>
		<string>0xab7967</string>
		<key>white</key>
		<string>0xFFFFFF</string>
		<key>black</key>
		<string>0x000000</string>
		<key>lightgray</key>
		<string>0xDDDDDD</string>
		<key>darkgray</key>
		<string>0x666666</string>
	</dict>
	<key>math</key>
	<array>
		<string>abs</string>
		<string>lmap</string>
		<string>acos</string>
		<string>asin</string>
		<string>atan2</string>
		<string>atan</string>
		<string>cosh</string>
		<string>cos</string>
		<string>sin</string>
		<string>exp</string>
		<string>exp2</string>
		<string>sinh</string>
		<string>floor</string>
		<string>log</string>
		<string>log2</string>
		<string>max</string>
		<string>min</string>
		<string>pow</string>
		<string>randomseed</string>
		<string>sinh</string>
		<string>sqrt</string>
		<string>inversesqrt</string>
		<string>tanh</string>
		<string>tan</string>
		<string>toRadians</string>
		<string>toDegrees</string>
		<string>length</string>
		<string>distance</string>
		<string>constrain</string>
		<string>dot</string>
		<string>normalize</string>
		<string>cross</string>
		<string>faceForward</string>
		<string>refract</string>
		<string>sign</string>
		<string>round</string>
		<string>roundEven</string>
		<string>trunc</string>
		<string>ceil</string>
		<string>fract</string>
		<string>mod</string>
		<string>clamp</string>
		<string>mix</string>
		<string>smoothstep</string>
		<string>isnan</string>
	</array>
	<key>uniforms</key>
	<array>
		<string>time</string>
		<string>bands</string>
		<string>mouse</string>
		<string>deltaTime</string>
		<string>width</string>
		<string>height</string>
		<string>osc</string>
		<string>midi</string>
	</array>
	<key>keyword</key>
	<array>
		<string>break</string>
		<string>nil</string>
		<string>true</string>
		<string>self</string>
		<string>math</string>
		<string>and</string>
		<string>or</string>
		<string>not</string>
		<string>false</string>
		<string>do</string>
		<string>else</string>
		<string>for</string>
		<string>if</string>
		<string>elseif</string>
		<string>return</string>
		<string>then</string>
		<string>repeat</string>
		<string>while</string>
		<string>until</string>
		<string>end</string>
		<string>function</string>
		<string>local</string>
		<string>in</string>
	</array>
</dict>
</plist>
