<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comment</key>
	<string>--</string>
	<key>functions</key>
	<array>
		<string>texture</string>
		<string>rand</string>
		<string>box</string>
		<string>circle</string>
		<string>rotate</string>
		<string>snoise</string>
		<string>noise</string>
		<string>hsv2rgb</string>
	</array>
	<key>operators</key>
	<string>+-=&lt;&gt;/*#^%~</string>
	<key>colormap</key>
	<dict>
		<key>functions</key>
		<string>green</string>
		<key>uniforms</key>
		<string>orange</string>
		<key>math</key>
		<string>cyan</string>
		<key>storage</key>
		<string>red</string>
		<key>numbers</key>
		<string>purple</string>
		<key>keyword</key>
		<string>blue</string>
		<key>definedcolors</key>
		<string>yellow</string>
		<key>preprocessor</key>
		<string>brown</string>
		<key>comment</key>
		<string>darkgray</string>
		<key>string</key>
		<string>pink</string>
	</dict>
	<key>colors</key>
	<dict>
		<key>pink</key>
		<string>0xf07178</string>
		<key>red</key>
		<string>0xFF5370</string>
		<key>orange</key>
		<string>0xF78C6C</string>
		<key>yellow</key>
		<string>0xFFCB6B</string>
		<key>green</key>
		<string>0xC3E88D</string>
		<key>paleblue</key>
		<string>0xB2CCD6</string>
		<key>cyan</key>
		<string>0x89DDFF</string>
		<key>blue</key>
		<string>0x82AAFF</string>
		<key>purple</key>
		<string>0xC792EA</string>
		<key>violet</key>
		<string>0xBB80B3</string>
		<key>brown</key>
		<string>0xab7967</string>
		<key>white</key>
		<string>0xFFFFFF</string>
		<key>black</key>
		<string>0x000000</string>
		<key>lightgray</key>
		<string>0xDDDDDD</string>
		<key>darkgray</key>
		<string>0x666666</string>
	</dict>
	<key>math</key>
	<array>
		<string>abs</string>
		<string>acos</string>
		<string>asin</string>
		<string>atan2</string>
		<string>ceil</string>
		<string>cosh</string>
		<string>deg</string>
		<string>exp</string>
		<string>floor</string>
		<string>fmod</string>
		<string>frexp</string>
		<string>ldexp</string>
		<string>log</string>
		<string>log10</string>
		<string>max</string>
		<string>min</string>
		<string>modf</string>
		<string>pow</string>
		<string>rad</string>
		<string>randomseed</string>
		<string>sinh</string>
		<string>sqrt</string>
		<string>tanh</string>
	</array>
	<key>uniforms</key>
	<array>
		<string>time</string>
		<string>bands</string>
		<string>mouse</string>
		<string>deltaTime</string>
	</array>
	<key>keyword</key>
	<array>
		<string>break</string>
		<string>nil</string>
		<string>true</string>
		<string>self</string>
		<string>math</string>
		<string>and</string>
		<string>or</string>
		<string>not</string>
		<string>false</string>
		<string>do</string>
		<string>else</string>
		<string>for</string>
		<string>if</string>
		<string>elseif</string>
		<string>return</string>
		<string>then</string>
		<string>repeat</string>
		<string>while</string>
		<string>until</string>
		<string>end</string>
		<string>function</string>
		<string>local</string>
		<string>in</string>
	</array>
</dict>
</plist>
